

.step-navigation-bar {
    position : absolute;
    bottom : 60px;
    height : 40px;
    margin-top : 40px;
}

.active {
  color: blue;
}

.step {
  background: transparent;
  border: 0;
  margin: 0 10px 0 10px;
  padding: 10px;
  color: black;
}

.step.active {
  color: blue;
  border-bottom: 1px solid blue;
}



.PopinHeader {
    background: #fff;
}

.PopinHeader {
    display: flex;
    padding: 8px;
    position: relative;
}

.PopinHeader__titles {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-height: 35px;
    font-weight: 400;
}

.PopinHeader__title {
    font-size: 1.4rem;
}

.FuelStep__title {
    display: block;
    margin-bottom: 48px;
    font-family: "Renault Life Web Regular";
    font-size: 1.4rem;
}


.h2, h2 {
    font-size: 1em; 
}

.mat-progress-bar-buffer {
    background-color: #27b042;
}

.mat-card {
    height: 120% !important;
    font-size: 1.5em;
    border-radius: 0%;
}