
<mat-progress-bar   mode="determinate" [value]="selectedIndex * 14.28  "></mat-progress-bar>
<div class="container" style="padding:0px; height: 120%;">
    <mat-card>
        <div style="text-align: center;" class="title_message">
            <h2>{{steps._results[selectedIndex].label}} </h2>
            <mat-divider [hidden]="selectedIndex == 7 || selectedIndex == 8"></mat-divider>
        </div>
        <div [style.display]="selected ? 'block' : 'none'">
            <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
        </div>
    </mat-card>
</div>